body {
    margin: 0;
}
#healthProfessionals {
    border: 3px solid black;
}

#aboutUs {
    border: 3px solid coral;
}

/* Health Professionals Section */
.titleBackground {
    border: 3px solid darkgreen;
    text-align: center;
    text-transform: uppercase;
}

#healthProfessionals .mainContainer {
    border: 3px solid darkgoldenrod;
    display: flex;
    flex-flow: column;
}

.mainContainer {
    background-color: #0093AB;
}

.mainContainer h3 {
    color: #fff;
}

.mediaContainer {
    border: 3px solid darkred;
    display: flex;
    justify-content: space-evenly;
}

.btnContainer {
    border: 3px solid darkblue;
    display: flex;
    justify-content: center;
    padding: 3% 0 3% 0;
}

#connectBtn {
    text-transform: uppercase;
    color: #fff;
    background-color: #FD5D5D;
    padding: 1.5%;
    border: 0;
    border-radius: 10px;
}

#connectBtn:hover {
    font-weight: bold;
}

.feature {
    border: 3px solid darkblue;
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.imgContainer {
    border: 3px solid darkred;
    width: 95%;
    margin: 0 auto;
}

.feature h3 {
    border: 3px solid sienna;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* About Us Section */
#aboutUs .mainContainer {
    border: 3px solid lightseagreen;
    display: flex;
    justify-content: space-evenly;
}

.videoSection {
    border: 3px solid darkred;
    width: 40%;
    text-align: center;
    padding: 3% 0 3% 0;
}

iframe {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .mediaContainer {
        border: 3px solid darkred;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 2% 0 2% 0;
        font-size: 80%;
    }

    .feature {
        width: 80%;
    }

    img {
        border-radius: 5%;
    }

    #connectBtn {
        width: 45%;
    }

    .imgContainer {

    }
}